.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    #022540,
    #03396c,
    #005b96,
    #0471b6,
    #005b96,
    #03396c,
    #022540
  );
  background-size: 1200% 1200%;
  animation: AnimationName 20s ease infinite; /* Reduced from 30s to 20s */
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  .animated-background {
    animation: AnimationName 40s ease infinite; /* Reduced from 60s to 40s */
  }
}

@media (max-width: 480px) {
  .animated-background {
    animation: AnimationName 80s ease infinite; /* Reduced from 120s to 80s */
  }
}

.content {
  position: relative;
  z-index: 10;
  color: white;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.social-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.social-links a:hover {
  color: #ccc;
}

.social-links svg {
  width: 100%;
  height: 55%;
}
